<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddHome</title>
</head>
<body>
    <h1>add your home here</h1>
        <form action="/host/add-home" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="housename">House Name:</label><br>
    <input type="text" id="housename" name="housename"><br><br>

    <input type="submit" value="Submit">
  </form>
</body>
</html>